<?xml version="1.0"?>
<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, visitez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" defaultLanguage="c#" enablePrefetchOptimization="true" urlLinePragmas="true" optimizeCompilations="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5"/>
    <identity impersonate="false"/>
    <authentication mode="Forms"/>
    <roleManager enabled="true"/>
    <trust level="High"/>
    <machineKey decryption="AES" validation="AES"/>
    <pages compilationMode="Auto"/>
    <sessionState allowCustomSqlDatabase="true" cookieless="AutoDetect" mode="SQLServer" sqlConnectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=d:\typeScriptHTMLApp1\QData.mdf;Integrated Security=True;Connect Timeout=30" compressionEnabled="true"/>
  </system.web>
  <system.webServer>
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose"/>
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose"/>
            <add provider="ISAPI Extension" verbosity="Verbose"/>
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket" verbosity="Verbose"/>
          </traceAreas>
          <failureDefinitions statusCodes="200,400,304"/>
        </add>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
</configuration>